@import "tailwindcss";


@theme{
    
    --text-h1: 36px;
    --text-h2: 24px;
    --text-h3: 20px;
    --text-h4: 18px;
    --text-h5: 16px;
    --text-h6: 14px;
    
    --text-paragraph: 16px;
    --text-paragraph-small: 14px;

    --text-label: 12px;

}